<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <h2> Pages </h2>
    <ul>
      <li><a href="/profile">Profile </a> </li>
      <li><a href="/project">Projects </a> </li>
      <li><a href="/sprint">Sprints </a> </li>
      <li><a href="/task">Tasks </a> </li>

  </body>
</html>