body {
  padding: 50px;
 /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
  color: #00B7FF;
}

.modal-body{
  padding: 10px 50px;
}

hr{
	margin-top: 0px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.loginButton{
  /* margin-left: 33%; */
  padding: 10px 70px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.heading{
  font-family: 'Gugi', cursive;
  font-size: 72px;
  text-align: center;
}

.form-signin{
  margin: 60px 28px;
}

.submitButton{
  text-align: center;
  margin-top: 40px;
}
