/*
body {
  padding: 50px;
 /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
} */


a {
  color: #00B7FF;
}

.modal-body{
  padding: 10px 50px;
}
#profilehead{
  padding-top: 60px;
}
hr{
	margin-top: 0px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

/*
.loginButton{
  /* margin-left: 33%; 
  padding: 10px 70px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
*/

.heading{
  font-family: 'Gugi', cursive;
  font-size: 72px;
  text-align: center;
}

.form-signin{
  margin: 60px 28px;
}

.submitButton{
  text-align: center;
  margin-top: 40px;
}

.membersClass{
  width:70%;
}

.memberItem{
  margin-top:7px;
  margin-bottom: 5px;
}
.fancy {
  position: relative;
  background-color: #C7D9AF;
  padding: 2rem;
  text-align: center;
  max-width: 400px;
  height: 150px;
}

.fancy::before {
  content: "";

  position : absolute;
  z-index  : -1;
  bottom   : 15px;
  right    : 5px;
  width    : 50%;
  top      : 80%;
  max-width: 200px;

  box-shadow: 0px 13px 10px black;
  transform: rotate(4deg);
}


.fancy2 {
  position: relative;
  background-color: #CCEEFF;
  padding: 2rem;
  text-align: center;
  max-width: 400px;
  height: 150px;
}

.fancy2::before {
  content: "";

  position : absolute;
  z-index  : -1;
  bottom   : 15px;
  right    : 5px;
  width    : 50%;
  top      : 80%;
  max-width: 200px;

  box-shadow: 0px 13px 10px black;
  transform: rotate(4deg);
}

.container2 {
  display: flex;

}
.container2 >div {
  flex: 1; /*grow*/
  margin-left:20px;
  margin-top:20px; 
  background-color:#C2C2A3;
  height:180px;
  width: 400px;
  border: 8px solid rgb(21, 4, 61);
  padding: 15px;
  font-family:cursive;
  font-size:20px;
  line-height:2;
  flex-grow: 4;
}
.container3 {
  display: flex;
  flex-direction: column;
  }
.container3 >div {
  flex: 1; /*grow*/
  margin-left:20px;
  margin-top:20px; 
  background-color:#C2C2A3;
  height:180px;
  width: 400px;
  border: 8px solid rgb(21, 4, 61);
  padding: 15px;
  font-family:cursive;
  font-size:20px;
  line-height:2;
 
}
